---
interface Props {
  frontmatter: {
    name: string;
    content: string;
    img: string;
    links: [{ platform: string; link: string }];
  };
  yourLink: string;
}
const { frontmatter, yourLink } = Astro.props as Props;
---

<div>
  <img src={frontmatter.img} alt="" />
  <div>{frontmatter.name}</div>
  <p>{frontmatter.content}</p>
  <p class="your-link">{`http://localhost:3000/${yourLink}`}</p>
  <button> copy</button>
  {
    frontmatter.links &&
      frontmatter.links.map((link) => (
        <>
          <p>{link.platform}</p>
          <p>{link.link}</p>
        </>
      ))
  }
</div>
