---
interface Props {
  frontmatter: {
    name: string;
    slug: string;
    content: string;
    img: string;
    links: [{ platform: string; link: string }];
  };
}
const { frontmatter } = Astro.props as Props;
---

<div>
  <img
    src={frontmatter.img}
    alt={frontmatter.name?.split(" ")[0] + " " + frontmatter.slug}
  />
  <div>{frontmatter.name}</div>
  <p>{frontmatter.content}</p>
  <p class="your-link">
    {`https://profilefuse.netlify.app/${frontmatter.slug}`}
  </p>
  <button> copy</button>
  {
    frontmatter.links &&
      frontmatter.links.map((link) => (
        <>
          <p>{link.platform}</p>
          <p>{link.link}</p>
        </>
      ))
  }
</div>
